/*@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*    font-family: 'Happy Monkey', cursive;*/
/*}*/
/* ซ่อน scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE และ Edge */
  scrollbar-width: none;     /* Firefox */
}
